 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sponsorloop 2021</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Informatie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#competition">Competitie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#charity">Goede doelen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#signin">Uploaden run & Spelregels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#runners">Overzicht deelnemers</a>
        </li>
      </ul>
    </div>
  </nav>


