<div class="container marketing">
  <div id="introduction" class="row">
    <div class="jumbotron">
      <div class="container">
        <hr class="divider">
        <div class="row">
          <div class="col-lg-9">
            <p>{{facebookData.content}}</p>
            <p><a class="btn btn-primary btn-lg" href="https://www.instagram.com/verenigingensponsorloop/" role="button" target="_blank">Volg ons op instagram »</a></p>
          </div>
          <div class="col-lg-3">
            <img src="../../assets/Informatie/logo_sponsorloop.png" class="rounded float-right" height="200" width="auto"/>
          </div>
        </div>
        </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-dark" role="alert">
            <h1 style="text-align: center;" class="display-4 font-italic">{{ getTotal() | currency: 'EUR' }}
              opgehaald</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-dark" role="alert">
            <p>General dashboard competition</p>
          </div>
        </div>
      </div>

    <hr class="divider">
    <div id="charity">
      <h2 class="heading">Goede doelen</h2>
      <div id="charity_info_icb" class="row">
        <div class="col-lg-4">
          <img src="../../assets/Informatie/Natuur-en-Milieufederatie_NMU.png" class="rounded float-left" height="230" width="310"/>
        </div>
        <div class="col-lg-8">
          <h5 class="heading">Ingenium Cabo Bianci<br/>
            De Natuur en Milieufederatie Utrecht</h5>
          <p>
            ICB heeft gekozen voor het goede doel: De Natuur en Milieufederatie Utrecht. De Natuur en Milieufederatie
            werkt aan verschillende thema’s in de provincie Utrecht. Circulaire economie staat dit jaar in de spotlight.
            Daarnaast zetten we ons in voor een energie neutrale provincie en rijke natuur. Maar ook voor goede en
            gezonde mobiliteit, duurzame landbouw en een stad met genoeg groen en water.
            Daarnaast coördineren we het Utrecht2040-netwerk, Staat van Utrecht, Oostbroek en de Alliantie Cirkelregio
            Utrecht. Ook maken we ook deel uit van de gebiedscommissies.
            Naast het werken aan de zes thema’s probeert de NMU overheden zo goed mogelijk te adviseren over het opnemen
            van een duurzame leefomgeving in de verschillende omgevingsvisies en plannen.
            <a href="https://www.nmu.nl/">www.nmu.nl</a>
          </p>
        </div>
      </div>


      <div id="charity_info_utv" class="row">

        <div class="col-lg-8">
          <h5 class="heading">U.T.V. <br/>
            Yoga and Sport with Refugees</h5>
          <p>
            U.T.V. heeft gekozen voor het goede doel: Yoga and Sport with Refugees. <a
            href="https://yogasportwithrefugees.org/">www.sportwithrefugees.org </a>
            Yoga and Sport with Refugees is een kleine NGO die meer dan 20 verschillende sportactiviteiten aanbiedt aan
            vluchtelingen. Je moet dan denken aan fitness, hardlopen, vechtsporten, voetbal, volleybal, zumba, dansen,
            yoga,
            etc. De organisatie is sinds 3 jaar actief op Lesvos en sinds een aantal maanden ook in Athene. Een van de
            belangrijkste doelen is om de vluchtelingen in de leiding te laten zijn van hun eigen trainingen! Bijna alle
            coaches zijn vluchtelingen en de organisatie geeft ze zo de mogelijkheid om te trainen en zich te
            ontwikkelen.
            Ze hebben een gym op Lesvos (buiten het kamp) en een gym in Athene.

            <a href="https://www.youtube.com/watch?v=l3ODNr7XQcU&ab_channel=YogaandSportForRefugees">Video: Yoga and
              Sport For Refugees: We need your support !</a>
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/Informatie/yoga_and_sport.png" class="rounded float-right" height="260" width="auto"/>
        </div>
      </div>
    </div>

      <div id="charity_info_codex" class="row">
        <div class="col-lg-4">
          <img src="../../assets/Informatie/amistyinter.png" class="rounded float-left" height="230" width="310"/>
        </div>
        <div class="col-lg-8">
          <h5 class="heading">Codex<br/>
            Amnesty International</h5>
          <p>
            Het goede doel dat Codex heeft gekozen is Amnesty International.
            Vanwege onze affiniteit met rechten hebben wij gekozen voor dit goede doel.
            Amnesty International komt internationaal op voor de rechten van de mens.
            De organisatie strijdt tegen onrecht en voert actie voor gerechtigheid, vrijheid, menselijke waardigheid en gelijkheid.
            Op heel veel gebieden heeft Amnesty International successen behaald, van het afschaffen van de doodstraf tot het opkomen voor de vrijheid van meningsuiting,
            en van het beschermen van de rechten van migranten en vluchtelingen tot het strijden tegen politiek geweld en vervolging.
            Help een vuist te maken tegen onrecht en support Amnesty International! Kijk voor meer informatie op <a href="https://www.amnesty.nl/">www.amnesty.nl</a>!
          </p>
        </div>
      </div>

      <div id="charity_info_utv" class="row">

        <div class="col-lg-8">
          <h5 class="heading">SV Paramedus<br/>
            KWF</h5>
          <p>
            Het goede doel waar Paramedus voor gaat strijden is het KWF.
            Deze organisatie strijdt tegen kanker en voor het leven.
            Ze zetten zich in voor elke patiënt met kanker, in elke fase.
            Een aantal grote doelen van het KWF zijn onder anderen: Het voorkomen kanker daar waar het kan,
            het bevorderen dat alle vormen van kanker beter behandelbaar zijn,
            het inzetten voor een betere kwaliteit van leven voor (ex) kankerpatiënten én hun naasten en er alles aan doen om te zorgen dat kankerpatiënten
            ook in hun laatste levensfase worden omringd door goede zorg.
            Voor meer informatie kan je kijken op: <a href="https://www.kwf.nl/onze-missie">www.kwf.nl/onze-missie</a>
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/Informatie/kwf.png" class="rounded float-right" height="230" width="310"/>
        </div>
      </div>



    <hr class="divider">

    <div class="container">
      <div id="signin">
        <div class="row"></div>
          <div class="col-lg-12">
            <p class="lead">
              Vul je gegevens in via onderstaande link om je run te bevestigen.
            </p>
            <p><a class="btn btn-primary btn-lg" target="_blank" href="https://ingeniumcabobianci.nl/aanmelden-verenigingen-sponsorloop-2021/">
              Upload hier je run »</a></p>
            <p><a class="btn btn-primary btn-lg" target="_blank" href="https://drive.google.com/file/d/1WKaydK8B5mAiAjFEUwCcmyYlJBUPMSGq/view?usp=sharing">
              Bekijk hier de sponsorloop uitleg & regels »</a></p>
          </div>
      </div>
    </div>

    <hr class="divider">
      <div id="competition">
        <h2 class="heading">Competitie overzicht</h2>
        <div class="row">
          <div *ngFor="let competition of competitionData" class="col-md-4">
            <div class="card mb-4 box-shadow" >
              <div class="card-header">
                {{competition.name}}
              </div>
              <div class="card-body">
                <p>
                  Lopen/Rennen
                  <ngb-progressbar type="primary"
                                   [value]="getRanPercentage(competition)"
                                   [type]="getRanBarType(competition)"
                                   [showValue]="true">
                  </ngb-progressbar>
                </p>
                <p>
                  Skeeleren
                  <ngb-progressbar type="primary"
                                   [value]="getSkeeleredPercentage(competition)"
                                   [type]="getSkeeleredBarType(competition)"
                                   [showValue]="true">
                  </ngb-progressbar>
                </p>
                <p>
                  Fietsen
                  <ngb-progressbar type="primary"
                                   [value]="getBikedPercentage(competition)"
                                   [type]="getBikedBarType(competition)"
                                   [showValue]="true">
                  </ngb-progressbar>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <hr class="divider">

    <div id="runners">
      <h2>Deelnemers<br></h2>
      <ng-container *ngFor="let student of studentData">
        <div class="row featurette">
          <div class="col-md-8">
            <h5>{{student.name}}
              <ng-container *ngIf="student.amountRaised != null"><br/>{{student.amountRaised | currency: 'EUR' }}
              </ng-container>
              - {{student.actualAmount}} km
            </h5>
            <p class="lead">
              {{student.team}}
            </p>
            <p>
              {{student.description}}
            </p>
          </div>
          <div class="col-md-4">
            <img *ngIf="student.imageScr_run != null" src="{{student.imageScr_run}}" class="rounded float-left w-75" alt="">
          </div>
        </div>
        <hr class="divider">
      </ng-container>
    </div>
  </div>
</div>
